<div class="modal-header">
  <h4 class="modal-title">WTF is EOS Brands?</h4>
  <button type="button" class="close" aria-label="Close" (click)="_NgbActiveModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <p>
        EOS Brands is a new EOS game to make money. As the usual, there is a POT and an inflation factor.
      </p>
      <h5 class="font-weight-bold">
          How it works?
        </h5>
      <ul>
        <li>
          The price for creating a new brand is
          <span class="font-weight-bold">0.1 EOS</span>
        </li>
        <li>
          The next price is the <span class="font-weight-bold">previous price * 1.40%</span>
        </li>
        <li>
          The 40% inflation ratio splits as follows:
          <ul>
            <li>
              70% goes to the owner as profit
            </li>
            <li>
              30% splits as follows
              <ul>
                <li>
                  40% goes to the total POT
                </li>
                <li>
                  20% goes to the contract
                </li>
                <li>
                  7% goes to ram fee
                </li>
                <li>
                  33% goes to the creator of the brand
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-12">
        <h5 class="font-weight-bold">
            General rules
        </h5>
        <p>
          Each brand has an expiration date. When a user creates a brand, the game timer is resetted. When a user buys a brand, the game timer and the brand timer is resetted.
        </p>
        <p>
          When a brand expires, the brand is owned forever by the last buyer.
          The game ends when the game timer reaches 0. The POT will be splitted between the 10 players who own the greatest capital in brands.
        </p>
    </div>
  </div>
</div>