<div class="modal-header">
  <h4 class="modal-title">What is EOS Brands?</h4>
  <button type="button" class="close" aria-label="Close" (click)="_NgbActiveModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <p>
        EOS Brands is a new EOS game to make money. Know when to invest, play smart and win money. 
        The rules for each round may change if the community wants. Once a round has started, rules won't change until that round has finished. 
        <br>
        If you want to discuss the next round rules please join our <a href="https://t.me/joinchat/Lm_lC01Pm9jZjU23JMONOQ" target="_blank">telegram group.</a>
      </p>
      <h5 class="font-weight-bold">
        Rules for round 3:
      </h5>
      <ul>
        <li>
          The price for creating a new brand is
          <span class="font-weight-bold">0.1 EOS</span>
        </li>
        <li>
          The next price is the
          <span class="font-weight-bold">previous price * 1.40%</span>
        </li>
        <li>
          The 40% inflation ratio splits as follows:
          <ul>
            <li>
              60% goes to the owner as profit
            </li>
            <li>
              40% splits as follows
              <ul>
                <li>
                  40% goes to the total POT
                </li>
                <li>
                  20% goes to dividends between the last 40 buyers
                </li>
                <li>
                  20% goes to the contract
                </li>
                <li>
                  20% goes to the creator of the brand
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

    </div>
    <div class="col-12">
      <p>
        The round starts with a donated POT of 10.0000 EOS and ends when the timer reaches 0. The POT will be delivered to the last player who bought a brand.
      </p>
    </div>
  </div>
</div>