<div class="modal-header border-0">
  <h4 class="modal-title text-center">Round 1 winners</h4>
  <button type="button" class="close" aria-label="Close" (click)="_NgbActiveModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th colspan="5" class="text-center bg-success">POT: 74.1651 EOS</th>
          </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Account</th>
            <th scope="col">Owned capital</th>
            <th scope="col">Pot %</th>
            <th scope="col">Won</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>gy2dgmztgqge</td>
            <td>163.9047 EOS</td>
            <td>48%</td>
            <td>35.5992 EOS</td>
          </tr>
          <tr>
            <th>2</th>
            <td>nvshennvshen</td>
            <td>59.7321 EOS</td>
            <td>17.5%</td>
            <td>12.9788 EOS</td>
          </tr>
          <tr>
            <th>3</th>
            <td>azerosumgame</td>
            <td>53.0481 EOS</td>
            <td>15.53%%</td>
            <td>11.5178 EOS</td>
          </tr>
          <tr>
            <th>4</th>
            <td>vip111111vip</td>
            <td>33.1056 EOS</td>
            <td>9.69%</td>
            <td>7.1865 EOS</td>
          </tr>
          <tr>
            <th>5</th>
            <td>aaaaaaaaa123</td>
            <td>31.7076 EOS</td>
            <td>9.28%</td>
            <td>6.8825 EOS</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>