<div class="modal-header border-0">
  <h4 class="modal-title text-center">Last rounds winners:</h4>
  <button type="button" class="close" aria-label="Close" (click)="_NgbActiveModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <ngb-tabset>
        <ngb-tab title="Round 1">
          <ng-template ngbTabContent>
              <table class="table">
                  <thead>
                    <tr>
                      <th colspan="6" class="text-center text-success">POT: 74.1651 EOS</th>
                    </tr>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Account</th>
                      <th scope="col">Owned capital</th>
                      <th scope="col">Pot %</th>
                      <th scope="col">Won</th>
                      <th scope="col">Receipt</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>1</th>
                      <td>gy2dgmztgqge</td>
                      <td>163.9047 EOS</td>
                      <td>48%</td>
                      <td>35.5992 EOS</td>
                      <td><a target="_blank" href="https://eosflare.io/tx/d7b360c24a46b9c30dd0d1e3a60b68964e76e70546a9fb6929c1ff3b4fef341a">Tx</a></td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td>nvshennvshen</td>
                      <td>59.7321 EOS</td>
                      <td>17.5%</td>
                      <td>12.9788 EOS</td>
                      <td><a target="_blank" href="https://eosflare.io/tx/b354bd05c1052374926ed330caba3153d875a842abaf515643e0895d7096aef1">Tx</a></td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td>azerosumgame</td>
                      <td>53.0481 EOS</td>
                      <td>15.53%%</td>
                      <td>11.5178 EOS</td>
                      <td><a target="_blank" href="https://eosflare.io/tx/4c9d25fc0ec3f966d34d949df75d09560f17b447766d0058069525d9bda0e414">Tx</a></td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td>vip111111vip</td>
                      <td>33.1056 EOS</td>
                      <td>9.69%</td>
                      <td>7.1865 EOS</td>
                      <td><a target="_blank" href="https://eosflare.io/tx/2b89814ee0090f6596d062942f1b446957329e9ceed62164be0e32ba67624f26">Tx</a></td>
                    </tr>
                    <tr>
                      <th>5</th>
                      <td>aaaaaaaaa123</td>
                      <td>31.7076 EOS</td>
                      <td>9.28%</td>
                      <td>6.8825 EOS</td>
                      <td><a target="_blank" href="https://eosflare.io/tx/e00f60939c6886d79dfd3c3fd8fc3b6097623fca3e971c2312d50b09b183248f">Tx</a></td>
                    </tr>
                  </tbody>
                </table>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Round 2">
            <ng-template ngbTabContent>
                <table class="table">
                    <thead>
                      <tr>
                        <th colspan="4" class="text-center text-success">POT: 0.5913 EOS</th>
                      </tr>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Account</th>
                        <th scope="col">Pot</th>
                        <th scope="col">Receipt</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>1</th>
                        <td>nahuevazquez</td>
                        <td>0.5913 EOS</td>
                        <td><a target="_blank" href="https://eosflare.io/tx/78ed5de63fbbbd6a56dd541208a357e566b177428438f371a32c459ce414d4c4">Tx</a></td>
                      </tr>
                    </tbody>
                  </table>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>