<div class="card">
  <p class="text-truncate font-weight-bold lead py-1 px-2 mb-1">
    {{brand.name}}
  </p>
  <img class="card-img-top border-bottom border-top brand-image" [src]="brand.image">
  <div class="card-body">
    <p class="text-truncate font-weight-bold mb-1">
      <span *ngIf="secondsLeft > 0">
        Left: 
        <countdown [config]="{leftTime: secondsLeft}" class="text-danger">$!h!:$!m!:$!s!</countdown>
      </span>
      <span class="text-success" *ngIf="secondsLeft < 0">
        Adquired!
      </span>
    </p>
    <p class="text-truncate font-weight-bold text-success mb-1">
      <i class="fas fa-dollar-sign mr-2"></i>{{brand.price}}
    </p>
    <p class="text-truncate font-weight-bold mb-1 small">
      <i class="fas fa-crown mr-2"></i>{{brand.owner}}
    </p>
    <p class="text-truncate font-weight-bold mb-1 small">
        Created by {{brand.creator}}
      </p>
    <hr>
    <button *ngIf="secondsLeft > 0" class="btn btn-primary btn-sm btn-block text-truncate" (click)="buyBrand(brand)">Buy {{brand.name}}</button>
  </div>
</div>